

.cards {
  column-gap: 16px;
  grid-template-columns: repeat(2,minmax(0,1fr));
  width: 100%;
  height: 100%;
  display: grid;
}

.cards-single-pic-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.cards-multi-pic-container {
  display: grid;
  grid-template-rows: repeat(2,minmax(0,1fr));
  grid-template-columns: repeat(2,minmax(0,1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.cards-child > * > img {
  height: 100%;
}

.cards-child {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.cards-show {
  height: 100%;
  opacity: 1!important;
  border: 1px solid black;
}

.cards-hidden {
  height: 0;
  opacity: 0;
}

.cards-child > ul {
  opacity: 0;
  border-radius: inherit;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  padding: 10px;
  font-size: .875rem;
  line-height: 1.25rem;
  transition: opacity 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-child > ul > li {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  justify-content: flex-start;
}

.cards-child > p {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  transition: opacity 0.2s;
}

.cards-child > p > picture > img {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  object-fit: cover;
}

.cards-child > p > picture > img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.cards-child > picture > img {
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}

.cards-child > picture > img:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.cards-child > ul > li > a {
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.25rem;
  transition: all 0.2s;
  width: 115px;
}

.cards-child > ul > li > a:hover {
  border: 1px solid transparent;
  background-color: #FF8E2F;
  color: white;
}

@media (max-width: 767px) {
  .cards-multi-pic-container > .cards-child {
    height: 400px;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .cards-multi-pic-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}